$mc: #0a104e;
$white: #ffffff;
$black: #000000;
$red: #973129;
$redHover: #862821;
$textClr:#20284a;
$tc: #000000;
$bgColor:#dedede;
$hh: 120px;
$tint: #efefef;
$tint2:#f1f1f1;
.safe-area {
    max-width: 1200px;
    margin: 0 auto;
}